ARCH=9.0
PTX=sm_90a
COMPUTE_CAPABILITY=90a
OPENCV_VERSION=4.11.0
# This used to work, with nunchaku 2.0.0.
#DOCKER_IMAGE_NAME=diffusion-nvidia-python-24.05
#BASE_IMAGE=nvcr.io/nvidia/pytorch:24.05-py3

DOCKER_IMAGE_NAME=diffusion-nvidia-pytorch:24.12-py3
BASE_IMAGE=nvcr.io/nvidia/pytorch:24.12-py3

# Or TODO: try 24.07 and see what breaks.
# On 24.06, CUDA is 12.5, NVIDIA CUDA 12.5.0.23 but in the same description it
# says it's CUDA 12.4 (what?). See
# https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html
# 
# See 
# https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch/tags
#DOCKER_IMAGE_NAME=minimal-diffusers-nvidia-python-24.07
#BASE_IMAGE=nvcr.io/nvidia/pytorch:24.07-py3
