DOCKER_IMAGE_NAME=minimal-cuda-12.9-ubuntu24.04
# From
# https://catalog.ngc.nvidia.com/orgs/nvidia/containers/cuda-dl-base/tags
BASE_IMAGE=nvcr.io/nvidia/cuda-dl-base:25.06-cuda12.9-devel-ubuntu24.04

# For an older GPU like NVIDIA GeForce 1050 Ti, consider using this base image:
# DOCKER_IMAGE_NAME=minimal-cuda-12.6.0-cudnn-ubuntu24.04
# BASE_IMAGE=nvcr.io/nvidia/cuda:12.6.0-cudnn-devel-ubuntu24.04

# Copy this file and fill in the values for your specific hardware
# configuration.
# See
# https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
# for an explanation of the difference between compute capability, ARCH, and
# PTX, a gencode.
# For example, from
# https://developer.nvidia.com/cuda-gpus
# for the GeForce RTX 3060, Compute capability is 8.6

ARCH=9.0
PTX=sm_90a
COMPUTE_CAPABILITY=90a