# Copy this file into this file's location, but renamed morex.env and put your
# actual credentials, keys, etc. in there.

# Consumer keys
X_CONSUMER_API_KEY=a1
X_CONSUMER_SECRET=bc23

# Authentication Tokens
X_BEARER_TOKEN=def567
X_ACCESS_TOKEN=ghij8901
X_SECRET_TOKEN=klmno23456