#DOCKER_IMAGE_NAME=sglang-based-pytorch:25.08-py3
# https://catalog.ngc.nvidia.com/orgs/nvidia/containers/cuda/tags
#BASE_IMAGE=nvcr.io/nvidia/pytorch:25.08-py3

# Build conflicts with sglang v0.5.2rc0
#DOCKER_IMAGE_NAME=sglang-based-pytorch:25.04-py3
#BASE_IMAGE=nvcr.io/nvidia/pytorch:25.04-py3

DOCKER_IMAGE_NAME=sglang-based-pytorch:25.02-py3
BASE_IMAGE=nvcr.io/nvidia/pytorch:25.02-py3

# This works
#DOCKER_IMAGE_NAME=sglang-based-pytorch:24.12-py3
#BASE_IMAGE=nvcr.io/nvidia/pytorch:24.12-py3

