DOCKER_IMAGE_NAME=sglang-based-nvidia-pytorch-24.12
BASE_IMAGE=nvcr.io/nvidia/pytorch:24.12-py3

# For tag pytorch:24.12-py3,
# 
# Cuda compilation tools, release 12.6, V12.6.85
# Build cuda_12.6.r12.6/compiler.35059454_0
# >>> print(torch.__version__)
#2.6.0a0+df5bbc09d1.nv24.12

# For an older GPU like NVIDIA GeForce 1050 Ti, consider using this base image:
# DOCKER_IMAGE_NAME=local-llm-full-nvidia-pytorch-24.06
# BASE_IMAGE=nvcr.io/nvidia/pytorch:24.06-py3
