# Make a copy of this file if you want to configure the mount paths for running
# RunDocker.py, to run the docker container.
# For every path you would like to mount, add it as a new line. Have it be in
# the format <your_local_computer_path>:<path_in_docker>
# e.g. /media/propdev/9dc1a908-7eff-4e1c-8231-41c342271da7/home/propdev/Data/:/Data/
