task: text-generation
#model_path : /Data/Models/LLM/meta-llama/Llama-3.2-1B
#model_path : /Data/Models/LLM/meta-llama/Llama-3.2-1B-Instruct
model_path : /Data1/Models/LLM/meta-llama/Llama-3.2-3B-Instruct
#model_path : /Data/Models/LLM/openai-community/gpt2
#model_path : /Data/Models/LLM/microsoft/DialoGPT-medium
#torch_dtype : ""
#torch_dtype : "torch.float16"
torch_dtype : "torch.bfloat16"
device_map: "cuda:0"