# Copy this file and fill in the values for your specific hardware configuration
# for ARCH, PTX, and COMPUTE_CAPABILITY. Be sure to rename the file to be
# build_docker_configuration.txt (i.e. remove the .example extension).
# See
# https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
# for an explanation of the difference between compute capability, ARCH, and
# PTX, a gencode.

ARCH=8.6
PTX=sm_86
COMPUTE_CAPABILITY=86
DOCKER_IMAGE_NAME=x-cuquantum-rust
# https://catalog.ngc.nvidia.com/orgs/nvidia/containers/cuquantum-appliance
BASE_IMAGE=nvcr.io/nvidia/cuquantum-appliance:24.08-x86_64
