face_analysis_model_name :
face_analysis_model_directory_path :
control_net_model_path :
diffusion_model_path :
ip_adapter_path :
face_image_path :
pose_image_path :
temporary_save_path : 
# For FaceAnalysis class in
# insightface/python-package/insightface/app/face_analysis.py, in determining
# possibly face size bounding.
det_size : 640
# IP (Image Prompt) Adapter parameters
# Provide what was used as default values in
# InstantID/pipeline_stable_diffusion_xl_instantid.py
ip_adapter_image_embedding_dimension : 512
ip_adapter_number_of_tokens : 16
# Leave this blank (not "") if you don't want to change scheduler.
# See diffusers library for possible schedulers to change into.
scheduler :
# guidance_scale default value 5.0 in
# InstantID/pipeline_stable_diffusion_xl_instantid.py in
# StableDiffusionXLInstantIDPipeline.__call__(..) and in
# diffusers/src/diffusers/pipelines/controlnet/pipeline_controlnet_sd_xl.py
guidance_scale :