# port number is found in docker-compose.yml file for postgres service.
database_port: 5432
# Because we're using docker-compose and if we're connecting from another
# running Docker container, IP address may not be localhost; try the IP
# address of host machine. So keep in mind that if you change network, say
# your IP address changed because you're on a different wireless network,
# you'll have to update this ip_address field. Otherwise, you'll get errors
# like this when running these (integration) tests:
# Error checking if database exists: 
# E               TimeoutError
# /usr/lib/python3.12/asyncio/timeouts.py:115: TimeoutError
#ip_address: "192.168.86.91"
# Prefer since PostgreSQL is running on same Docker network, use
# "postgresql"
ip_address: "postgres"
# TODO: Have docker-compose.yml have user and password as environment variables.
postgres_user: "inserviceofx"
postgres_password: "inserviceofx"
database_names:
    PermanentConversation: "test_permanent_conversation"