# Copy this file and fill in the values for your specific hardware
# configuration.
# See
# https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
# for an explanation of the difference between compute capability, ARCH, and
# PTX, a gencode.

ARCH=8.6
PTX=sm_86
COMPUTE_CAPABILITY=86