# https://catalog.ngc.nvidia.com/orgs/nvidia/teams/tensorrt-llm/containers/release/tags?version=1.3.0rc8
# The version of transformers is old; it can't run Qwen 3.5. So at the very
# least we update the version of huggingface's transformers.

docker_image_name: tensorrt-llm-fixed/release:1.3.0rc0
base_image: nvcr.io/nvidia/tensorrt-llm/release:1.3.0rc8

dockerfile_components:
  - label: "Dockerfile.header"
    path: "../../../CommonComponents/Dockerfile.header"
  - label: "Dockerfile.base"
    path: "../../../CommonComponents/Dockerfile.base"
  - label: "Dockerfile.transformers_reinstall"
    path: "Dockerfile.transformers_reinstall"
