#diffusion_model_path : /Data1/Models/Diffusion/black-forest-labs/FLUX.1-schnell
diffusion_model_path : /Data1/Models/Diffusion/black-forest-labs/FLUX.1-dev
torch_dtype: torch.bfloat16
is_enable_model_cpu_offload:
is_enable_sequential_cpu_offload:
is_to_cuda: true
cuda_device: cuda:0
# DPM++ 2M Karras DPMSolverMultistepScheduler init with use_karras_sigmas=True
scheduler:
a1111_kdiffusion:
