# IP-Adapter-FaceID is expected to work with InsightFace
#path : /Data/Models/Diffusion/h94/IP-Adapter-FaceID
subfolder :
weight_names : ip-adapter-faceid-portrait_sdxl_unnorm.bin
# or
# weight_names :
# - "a"
# - "of"
image_filepath :
scales : 1.23
# or
# scales :
# - 4.56
# - 87.2
is_to_cuda : false