lora_scale:
lora_0:
  directory_path: "cito/pixel-art"
  weight_name: "weight.safetensors"
  adapter_name: "pixel"
  adapter_weight: 0.6

lora_1:
  directory_path: "cito/anime-style"
  weight_name: "anime_weight.safetensors"
  adapter_name: "anime"
  # adapter_weight is optional

lora_2:
  directory_path: "cito/realistic"
  weight_name: "realistic_weight.safetensors"
  adapter_name: "realistic"
  adapter_weight: 0.8
