# Copy this file into this file's location, but renamed morex.env and put your
# actual credentials, keys, etc. in there.

# Consumer keys
X_CONSUMER_API_KEY=
X_CONSUMER_SECRET=

# Authentication Tokens
X_BEARER_TOKEN=
X_ACCESS_TOKEN=
X_SECRET_TOKEN=